[submodule "env-modules"]
	path = env-modules
	url = https://aur.archlinux.org/env-modules.git
	branch = master
[submodule "libvterm-0.1"]
	path = libvterm-0.1
	url = https://aur.archlinux.org/libvterm-0.1.git
	branch = master
[submodule "neovim-git"]
	path = neovim-git
	url = https://aur.archlinux.org/neovim-git.git
	branch = master
[submodule "docker-credential-pass"]
	path = docker-credential-pass
	url = https://aur.archlinux.org/docker-credential-pass.git
	branch = master
[submodule "snapd"]
	path = snapd
	url = https://aur.archlinux.org/snapd.git
[submodule "zfs-dkms"]
	path = zfs-dkms
	url = https://aur.archlinux.org/zfs-dkms.git
[submodule "zfs-utils"]
	path = zfs-utils
	url = https://aur.archlinux.org/zfs-utils.git
[submodule "plex-media-server"]
	path = plex-media-server
	url = https://aur.archlinux.org/plex-media-server.git
	branch = master
[submodule "filebot"]
	path = filebot
	url = https://aur.archlinux.org/filebot.git
[submodule "nvidia-470xx-utils"]
	path = nvidia-470xx-utils
	url = https://aur.archlinux.org/nvidia-470xx-utils.git
[submodule "google-chrome"]
	path = google-chrome
	url = https://aur.archlinux.org/google-chrome.git
[submodule "i3lock-fancy-rapid-git"]
	path = i3lock-fancy-rapid-git
	url = https://aur.archlinux.org/i3lock-fancy-rapid-git.git
[submodule "i3lock-color"]
	path = i3lock-color
	url = https://aur.archlinux.org/i3lock-color.git
[submodule "capt-src"]
	path = capt-src
	url = https://aur.archlinux.org/capt-src.git
[submodule "libglade"]
	path = libglade
	url = https://aur.archlinux.org/libglade.git
[submodule "gtklp"]
	path = gtklp
	url = https://aur.archlinux.org/gtklp.git
[submodule "gcc9"]
	path = gcc9
	url = https://aur.archlinux.org/gcc9.git
[submodule "cups-bjnp"]
	path = cups-bjnp
	url = https://aur.archlinux.org/cups-bjnp.git
[submodule "cnijfilter-common"]
	path = cnijfilter-common
	url = https://aur.archlinux.org/cnijfilter-common.git
[submodule "rofi-git"]
	path = rofi-git
	url = https://aur.archlinux.org/rofi-git.git
[submodule "minecraft-bedrock-server"]
	path = minecraft-bedrock-server
	url = https://aur.archlinux.org/minecraft-bedrock-server.git
[submodule "torguard"]
	path = torguard
	url = https://aur.archlinux.org/torguard.git
[submodule "zfs-linux-git"]
	path = zfs-linux-git
	url = https://aur.archlinux.org/zfs-linux-git.git
[submodule "ttf-ms-win11-auto"]
	path = ttf-ms-win11-auto
	url = https://aur.archlinux.org/ttf-ms-win11-auto.git
[submodule "httpdirfs"]
	path = httpdirfs
	url = https://aur.archlinux.org/httpdirfs.git
[submodule "steamcmd"]
	path = steamcmd
	url = https://aur.archlinux.org/steamcmd.git
[submodule "steamos-compositor"]
	path = steamos-compositor
	url = https://aur.archlinux.org/steamos-compositor.git
[submodule "luxtorpeda-git"]
	path = luxtorpeda-git
	url = https://aur.archlinux.org/luxtorpeda-git.git
[submodule "godot-headless-bin"]
	path = godot-headless-bin
	url = https://aur.archlinux.org/godot-headless-bin.git
[submodule "protonup-qt"]
	path = protonup-qt
	url = https://aur.archlinux.org/protonup-qt.git
[submodule "python-vdf"]
	path = python-vdf
	url = https://aur.archlinux.org/python-vdf.git
[submodule "python-steam"]
	path = python-steam
	url = https://aur.archlinux.org/python-steam.git
[submodule "python-inputs"]
	path = python-inputs
	url = https://aur.archlinux.org/python-inputs.git
